.container {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

h2 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    position: relative;
}

h2::after {
    content:"";
    display: block;
    position: relative;
    width: 4em;
    left: 0;
    right: 0;
    bottom: 1px;
    height: .25em;
    background: rgba(7, 151, 144, 0.5);      
}
